<div>
  <h1 class="display-1"> Stupid Coaching </h1>
<form action="answer" data-turbo="false">
<div class="input-group mb-3">
  <input type="text" name="question" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <input class="input-group-text btn-outline-secondary" id="basic-addon2" type="submit" value="Ask!">
</div>
</form>
</div>
